---
---
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Noto+Serif:400,400i,700">
		<style>{% include index.style.css %}</style>
	</head>
	<body> 
	
		{% include menu.html %}
	
		<div id="hero">
			<img id="logo" src="/images/logo-1024.png" alt="RunOrg"/>
			<div class="text">
				<p>An open source <strong>social database</strong> server</p>
				<p>We store people and the interactions between them.</p>
			</div>
			<div id="github">
			Server &ensp; <iframe src="http://ghbtns.com/github-btn.html?user=RunOrg&amp;repo=RunOrg&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>&emsp;
			JavaScript SDK &ensp; <iframe src="http://ghbtns.com/github-btn.html?user=RunOrg&amp;repo=JS-SDK&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
			</div>
		</div>
		

	
		<div id="examples">
		
			<ul>
				<li style="display:block">Post my message to the project chatroom. </li>
				<li>Send me an e-mail when a new message appears in this conversation. </li>
				<li>Ask everyone in the <em>New Members</em> group to please fill this form. </li>
				<li>Make Caroline a moderator of this forum. </li>
				<li>Tell me who is coming to next week's meeting. </li>
				<li>Please report this message to a moderator. </li>
				<li>Show me the clickthrough rates for my last newsletter. </li>
				<li>Give me the names and pictures of all participants in this conversation.</li>
				<li>Upvote this cat picture. </li>
				<li>Only let <em>Trusted Members</em> see my extended profile.</li>
				<li>Remind Ted to follow up with this customer.</li> 
				<li>Let me unsubscribe from this sender. </li>
			</ul>
		
		</div>
		
		<div id="how">
		
			<div class="side">
			
				<h2>As a server component</h2>
				<p>
					RunOrg sits next to your main database and helps your server-side 
					code deal with the social aspects of your project.
				</p>

			</div>
			
			<div class="side">
			
				<h2>As a web API</h2>
				<p>
					Your mobile application or JavaScript client can reach RunOrg over HTTPS. 
					For simple projects, you don't even need a server.  
				</p>
			
			</div>
			
		</div>
		
		<div class="text-column">
		
			<p>
				We believe that social features should be a <strong>solved problem</strong>, 
				not a wheel that every online project needs to reinvent. 
			</p>			
			
		</div>
			
		<h2 class="centered"><span>Open Source</span></h2>
		
		<div class="text-column">
		
			<p>
				RunOrg is available from <a href="https://github.com/RunOrg/RunOrg/">GitHub</a> 
				under the MIT license.  
			</p>			
			
			<p>
				Our core principles: 
			</p>
			
			<ol>
				<li>
					<strong>Do not create useless things. </strong><br/>
					Resist the temptation to write features without a confirmed real-life use 
					case, even if they are fun or trendy. Lines of code are a liability, not 
					an asset.
				</li>
				<li>
					<strong>Data should never be leaked nor lost.</strong><br/>
					Software should be secure and well-behaved, even if it takes longer to write. 
					Some technology stacks are better than others for achieving this.  
				</li>
				<li>
					<strong>Contributors should love the code.</strong><br/>
					Have automated tests and clear documentation. Refactor mercilessly. Make it 
					easy to run a local development version of RunOrg.
				</li>
				<li>
					<strong>Always follow standards when they exist.</strong><br/>
					Standards get stronger the more they are used. They help newcomers learn 
					faster. They make a lot of minor decisions so you don't have to. 
				</li>
				<li>
					<strong>Developers should love the API.</strong><br/>
					They deserve to be happy. 
				</li>
				<li>
					<strong>Let the computer do the hard work.</strong><br/>
					Humans create RunOrg. Type inference, static analysis, automated testing 
					and other tools help us concentrate on the important parts. 
				</li>
				<li>
					<strong>Improve speed and memory usage.</strong><br/>
					When serving millions of API requests, milliseconds and kilobytes tend to 
					add up.
				</li>
				<li>
					<strong>Be grateful for any outside help.</strong><br/>
					It takes time and courage to offer a helping hand. 
				</li>
			</ol>
			
			<p>
				This not a bucket list, but a list of priorities: principles higher in the 
				list take precedence over those below them.
			</p>
			
		</div>
		
		<h2 class="centered"><span>Production-ready</span></h2>

		<div class="text-column">		
		
			<p>
				RunOrg has been reviewed, tested and is already used in production. Download and 
				install your own, or <a href="http://runorg.com/contact.html">ask us</a> for an 
				instance on our own online production server at <code>api.runorg.com</code> ! 
			</p>

			<p>
				We believe it is better to do things right from the start rather than coming back 
				to fix them later on. There may be hundreds of features still on our road map, 
				but all features we implemented so far are guaranteed to work and will keep your 
				data safe and secure.  
			</p>
			
		</div>
		
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script>
$(function() {

	// Display examples one after another
	// ==================================
	
	function showNext() {

		var next = $('#examples li:visible').next();
		if (!next.length) next = $('#examples li:first');
		
		var delay = 3000 + 250 * next.text().split(' ').length;
		
		$('#examples li:visible').fadeOut('fast',function() {
			next.fadeIn('fast',function() { setTimeout(showNext, delay); });
		});
		
	};
	
	setTimeout(showNext,5000);
	
});
		
		</script>		
	
	</body>
</html>