#hero {
	width: 960px;
	margin: 70px auto 50px;
	position: relative;
	overflow: hidden;
}

#hero .text {
	position: relative;
	margin: 80px 0 80px 280px;	
	padding: 10px 0;
	text-transform: uppercase;
	color: #555;
}

#hero strong {
	color: #000;
}

#hero .text p {
	margin: 0;
	text-align: center;
	line-height: 1.4em;
	font-size: 20px;
}

#hero .text p + p {	
	font-size: 16px;
}

#hero .text:before {
	height: 60px;
	width: 100%;
	content: ' ';
	position: absolute;
	top: -60px;
	background: url(/images/title-top.png) center center no-repeat;
}

#hero .text:after {
	height: 60px;
	width: 100%;
	content: ' ';
	position: absolute;
	bottom: -60px;
	background: url(/images/title-bottom.png) center center no-repeat;
}

#logo {
	left: 60px;
	top: 30px;
	position: absolute;
	width: 180px;
	height: 180px;
}

/* ========== */

#github {
	text-align: center;
	margin: 100px 0 0px 280px;
	font-size: 14px;
	font-variant: small-caps;
	line-height: 21px;
	color: #888;
	}

#github iframe {
	vertical-align: bottom;
}

/* ========== */

#examples {
	background-color: #DDD;
	background: radial-gradient(ellipse farthest-corner at 470px -12px, #EEE 0%, #DDD 80%);
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	padding: 0 20px;
	margin: 40px -20px 30px;
}

#examples ul {
	margin: auto;
	height: 40px;
	line-height: 40px;
	color: #111;
	width: 960px;
	padding: 10px;
	font-size: 20px;
	text-transform: uppercase;
	list-style-type: none;
}

#examples li {
	display: none;
	text-align: center;
} 

/* ========== */

#how {
	text-align: center;
}

#how .side {
	background-color: #EEE;
	background: radial-gradient(ellipse farthest-corner at 470px -12px, #FFF 0%, #EEE 80%);
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	margin: 30px;
	width: 320px;
	padding: 20px;
	font-size: 14px;
	display: inline-block;
}

#how .side p {
	width: auto;
	margin-bottom: 0;
	line-height: 1.75em;
	color: #555;
}

#how .side h2 {
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	font-size: 18px;
}